/* import font from google*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/* CSS RESET*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

  body {
    background-color: #123;
  }

  body, input, select, textarea {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4em;
    letter-spacing: 0.02em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
  }

  @media screen and (max-width: 736px){
    body {
    font-size: 14px;
    line-height: 1.2em;
    }
  }

	main {
	  display: flex;
	  justify-content: center;
	  align-items: center;
		height: 80vh;
		/*padding: 15em 0 15em 0;*/
		background: /*linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),*/ url(../images/background.jpg);
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

	}

	.main_content {
	font-size: 5em;
	font-weight: 800;
	line-height: 1em;
	text-align: left;
	margin-left: 0.2em;
	text-transform: capitalize;
	font-family: 'Roboto Slab', serif;
	}

  .main_content ul li:not(.global) {
		   color:rgb(0, 0, 160);
			 text-transform: none;
			 font-size: 1em;
			 letter-spacing: 0.09em;
	}


	.global {
		color: #900020;
		text-transform: none;
		padding-top: 0.09em;
	}


	@media screen and (max-width: 736px) {
		.main_content {
			font-size: 3em;
			line-height: 1.2em;
			font-weight: 700;
			letter-spacing: 0em;
		}

		.main_content li:not(.global) {
				 font-size: 1em;
		}
	}


	#footer {
		    padding: 6em 0 4em 0 ;
				/*background-color: #123;*/
				text-align: center;
	}

	#footer .copyright {
				color: rgba(255, 255, 255, 0.5);
				font-size: 0.8em;
				letter-spacing: 0.225em;
				list-style: none;
				padding: 0;
				text-transform: uppercase;
			}

			@media screen and (max-width: 736px){
				.copyright {
					font-size: 0.6em;
				}
			}

.navBar {
	position: fixed;
	min-width: 100%;
	background-color: #123;
}

.logo {
	background-color:  #830300;
	padding: 0.7em;
	font-weight: 600;
	border-radius: 50%;
	display: inline-block;
	margin: 0.5em 0;
}

   .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
		padding: 0 1em;
  }

	ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
	}

    a {
      color: #fff;
      text-decoration: none;
      transition: all .5s ease;
    }

		a:hover {
			color: #ed4933;
		}

  li  {
    display: inline-block;
  }

#menu-toggle {
	display: none;
}

.label-toggle {
	display: none;
}

wrapper ul li  {
	position: relative;
}

.wrapper ul li ul{
	position: absolute;
	width: 7em;
	background-color: #123;
	padding-top: 1em;
	display: none;
}

.wrapper ul li:hover > ul,
ul li ul:hover {
  display: block;
}

.wrapper ul li ul li:hover{
	cursor: pointer;
}

.wrapper ul li ul li {
	padding: 1em;
}


@media screen and (max-width: 736px) {
  .wrapper ul {
 display: block;
 height: 0;
 opacity: 0;
 text-align: center;
 transition: all 1s ease;
 width: 100%;
 visibility: hidden;
		}

	.wrapper ul	li {
			border-bottom: 1px solid #fff;
      color: black;
      display: block;
      font-size: 1.3em;
      padding: 1.5em 2em;
		}

		#menu-toggle:checked ~ ul {
			opacity: 1;
			visibility: visible;
			height: 100vh;
		}

		.label-toggle {
			color: #fff;
      display: block;
      float: right;
			font-family: fontawesome;
      padding: 1em 0;
      font-size: 1.5em;
      /*margin-top: 1em;*/
    }

		.wrapper {
			display: block;
		}


		}
}





















/*

  .nav_link {
    display: flex;
    height: 3em;
    align-items: center;
    padding: 0 2em;
    box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
		background-color: #123;

    /*background-color: #06beb6;*/
  }

/*  .logo {
    margin-right: auto;
    padding: 0.7em;
    /*border: 1px solid rgba(238,238,238 ,1);*/
  /*  border-radius: 50%;
    background-color:  #ed4933;
		color: #fff;
		font-weight: 600;
  }


	@media screen and (max-width: 736px) {
		.logo {
			padding: 0.5em;
			font-weight: 500;
		}

		/*.logo a {

		}*/
	}

/*  li {
    padding: 1em;

  }


   a {
    text-decoration: none;
		letter-spacing: 0.1em;
    color: #ffffff;
		padding: 0 1em;
  }

.nav_link a:hover {
  color: #ed4933;
}


.bars {
	display: none;
}


/*@media screen and (max-width: 600px) {
  a:not(.not) {display: none;}
  .bars {
    display: inherit;
  }
}*/


/*.toggle_input:not(checked) {
    display: none;
}

.toggle_input + label {
	color: #fff;
	font-size: 1em;
	display: none;
}

@media screen and (max-width: 600px){
    .toggle_input + label {
			display: inherit;
		}


	.toggle_input:not(checked) ~ .toggle_content {
       display: none;
    }

   .toggle_input:checked ~ .toggle_content {
       display: block;
     }
}*/
